STUDY_NAME : 'lgb_optimization_competencia126'

BUCKET_NAME: '~/buckets/b1'
LOCAL_PATH: '/Users/sofi/Documents/dmeyf2025/project/project_wednesday'

competencia02:
  DATA_PATH: 'datasets/competencia_02.parquet'
  SEMILLA: [131213, 275677, 633767, 997057, 450223]
  MES_TRAIN_BO: [201901, 201902, 201903, 201904, 201905, 201906, 201907, 201908, 201909, 201910, 201911, 201912, 202001, 202002, 202003, 202004, 202005, 202006, 202007, 202008, 202009, 202010, 202011, 202012, 202101, 202102]
  MES_VALIDACION_BO: [202104]
  KSEMILLERIO_BO: 5
  MES_TRAIN: [201901, 201902, 201903, 201904, 201905, 201906, 201907, 201908, 201909, 201910, 201911, 201912, 202001, 202002, 202003, 202004, 202005, 202006, 202007, 202008, 202009, 202010, 202011, 202012, 202101, 202102, 202103, 202104]
  MES_TEST: [202106]
  FINAL_TRAIN: [201901, 201902, 201903, 201904, 201905, 201906, 201907, 201908, 201909, 201910, 201911, 201912, 202001, 202002, 202003, 202004, 202005, 202006, 202007, 202008, 202009, 202010, 202011, 202012, 202101, 202102, 202103, 202104]
  FINAL_PREDICT: [202106]
  KSEMILLERIO: 20
  GANANCIA_ACIERTO: 780000
  COSTO_ESTIMULO: 20000
  UNDERSAMPLING_FRACTION: 0.05
  UNDERSAMPLING_FINAL_TRAINING: True
  ADHOC: False
  DROP: ['mprestamos_personales', 'cprestamos_personales']
  ENVIOS:
  DESCRIPCION: 'Mantengo hiperparametros de experimento 123 pero ahora hago ksemillerio = 20 en test y train'

parametros_lgb:
  n_trail: 50
  num_leaves: [2, 1024]
  learning_rate: [0.00390625, 0.5]
  feature_fraction: [0.05, 1]
  min_data_in_leaf: [1, 100000]    # el valor superior es anecdotico porque se limita en la optimizacion
  num_iterations: [1, 2179]
  feature_pre_filter: False
  force_row_wise: True
  max_bin: 31
  metric: 'ganancia'

parametros_adhoc:
  num_iterations: 244 #156
  learning_rate: 0.02445596482887544 #0.043900455244426595
  feature_fraction: 0.2980742584938477 #0.2063929274410056
  num_leaves: 682 #317
  min_data_in_leaf: 357 #1300
  bagging_fraction: 0.7429819063716396 #0.39522373841819725
