STUDY_NAME : 'lgb_optimization_competencia121'

BUCKET_NAME: '~/buckets/b1'
LOCAL_PATH: '/Users/sofi/Documents/dmeyf2025/project/project_wednesday'

competencia02:
  DATA_PATH: 'datasets/competencia_02.parquet'
  SEMILLA: [131213, 275677, 633767, 997057, 450223]
  MES_TRAIN: [201901, 201902, 201903, 201904, 201905, 201906, 201907, 201908, 201909, 201910, 201911, 201912, 202001, 202002, 202003, 202004, 202005, 202006, 202007, 202008, 202009, 202010, 202011, 202012, 202101, 202102, 202103]
  MES_VALIDACION: [202104]
  MES_TEST: [202106]
  FINAL_TRAIN: [201901, 201902, 201903, 201904, 201905, 201906, 201907, 201908, 201909, 201910, 201911, 201912, 202001, 202002, 202003, 202004, 202005, 202006, 202007, 202008, 202009, 202010, 202011, 202012, 202101, 202102, 202103, 202104]
  FINAL_PREDICT: [202106]
  GANANCIA_ACIERTO: 780000
  COSTO_ESTIMULO: 20000
  UNDERSAMPLING_FRACTION: 0.05
  UNDERSAMPLING_FINAL_TRAINING: True
  ADHOC: False
  DROP: ['mprestamos_personales', 'cprestamos_personales']
  ENVIOS: 11000
  DESCRIPCION: 'Chequeo mi nuevo script con los hiperparametros buenos de la competencia 1'

parametros_lgb:
  n_trail: 100
  num_leaves: [10, 1000]
  learning_rate: [0.005, 0.3]
  feature_fraction: [0.2, 1]
  bagging_fraction: [0.2, 1]
  min_data_in_leaf: [2, 2000]
  num_iterations: [200, 2000]
  feature_pre_filter: False
  force_row_wise: True
  max_bin: 31
  metric: 'auc'

parametros_adhoc:
  num_iterations: 244 #156
  learning_rate: 0.02445596482887544 #0.043900455244426595
  feature_fraction: 0.2980742584938477 #0.2063929274410056
  num_leaves: 682 #317
  min_data_in_leaf: 357 #1300
  bagging_fraction: 0.7429819063716396 #0.39522373841819725
